/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* GLOBAL VARIABELS */
:root {
  /* COLORSCHEME */
  /* PRIMITIVES */
  /* grey */
  --white: #fff9f6;
  --darkgrey: #3c3c3c;
  --black: #151414;

  /* red */
  --00: #fcd1bf;
  --25: #f8e7e9;
  --50: #f3c9cc;
  --100: #fd98ab;
  --150: #701c1b;
  --200: #2c030a;

  /* TOKENS */
  /* text */
  --hero: var(--200);
  --large_text: var(--black);
  --body: var(--black);
  --body_inverted: var(--white);
  --form_text: var(--darkgrey);
}
