.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20vh;
  text-align: center;
  margin: 0 10vw;
}

@media screen and (min-width: 800pc) {
  .hero {
    margin: 0 20vw;
  }
}

.h2_reg {
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 2.25rem);
  padding: 2vh 0;
  margin: 5vh auto;
}

.lottie_section {
  display: flex;
  flex-direction: column;
  margin: 10vh 5vw;
}

.lottie_header {
  text-align: center;
  font-size: 2rem;
}

.lottie_player {
  margin: auto;
  width: 80vw;
  height: auto;
}

.lottie_callout {
  text-align: center;
}

.lottie_body {
  font-family: "text-l";
  font-size: 1.25rem;
  margin: 5vh auto;
}

.lottie_list {
  font-family: "text-l";
  font-size: 1.25rem;
  margin: auto 4vw;
}

.lottie_list li {
  margin: 2vh 5vw;
}

@media screen and (min-width: 800px) {
  .lottie_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 10vh 5vw -15vh 5vw;
  }

  .lottie_header {
    grid-column: 2;
    grid-row: 1 / span 1;
    place-self: end center;
    margin-bottom: 2vh;
    padding-top: 5vh;
    font-size: 2.5rem;
  }

  .lottie_body {
    margin: 2vh auto;
  }

  .lottie_list {
    margin: 0;
  }

  .lottie-player {
    grid-column: 1;
    grid-row: 1 / span 3;
    place-self: start;
    max-width: 80%;
    z-index: 1;
  }

  .lottie_container {
    grid-column: 2;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}

.kvinder_section {
  position: relative;
  background-color: var(--section_bg);
  padding-top: 10vh;
  padding-bottom: 15vh;
}

.custom-shape-divider-bottom-1734045432 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1734045432 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1734045432 .shape-fill {
  fill: #f9cec3;
}

.custom-shape-divider-top-1734045582 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1734045582 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-1734045582 .shape-fill {
  fill: #f9cec3;
}

.kvinder_section img {
  height: 12.5vh;
  margin: 2vh auto;
  padding: 1.5vw;
}

.h2_kvinder {
  text-align: center;
  margin: 5vh auto;
  font-size: clamp(2rem, 3rem, 3rem);
}

.kvinder_flex {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.kvinder_section ul {
  margin: 5vh 10vw;
}

.kvinder_body {
  font-family: "body";
  font-size: 1.25rem;
  text-align: justify;
  margin: 0 10vw;
  hyphens: auto;
}

@media screen and (min-width: 800px) {
  .kvinder_section {
    padding-top: 20vh;
  }

  .kvinder_section img {
    height: 20vh;
  }

  .kvinder_section ul {
    place-self: center;
    font-size: 1.5rem;
    margin: 0;
  }

  .kvinder_body {
    margin: 5vh 30vw;
    line-height: 150%;
  }
}

.help_section {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
}

#help_img {
  display: none;
}

.h2_help {
  font-size: 2rem;
  text-align: center;
}

.help_body {
  margin: 5vw;
  font-family: "body";
  text-align: justify;
  hyphens: auto;
  line-height: 1.5;
}

.email_form_help {
  margin: 1vh auto;
}

#help_button {
  margin: 2vh 25vw;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .help_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    margin: 5vh 5vw;
    width: 90vw;
  }
  .h2_help {
    padding-top: 5vh;
    text-align: center;
  }
  .help_body_container {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .help_body {
    margin: 5vh auto;
    max-width: 40vw;
    font-size: 1rem;
  }
  .email_form_help {
    margin: 0 auto;
  }

  .email_form_help input {
    width: 25vw;
    height: 4vh;
    margin: 0 auto 1.5vh auto;
    font-size: 1rem;
  }

  #help_button {
    margin: 1vh 32.5%;
    width: 10vw;
    font-size: 1rem;
  }

  #help_img {
    width: 80%;
    display: block;
    grid-column: 2;
    grid-row: 1 / span 2;
    border-radius: var(--img_radius);
    place-self: center;
    object-fit: cover;
  }
}
