@media (min-width: 800px) {
  .om_hero {
    font-size: 4.5rem;
    text-align: center;
  }
}

/* ---- forsøg på scroll funtion i mobilsite ---- */
.gallery {
  max-height: 290px;
  justify-content: center;
  /* border: 1px solid white; */
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.gallery::-webkit-scrollbar {
  width: 0;
}

.gallery .info_kort {
  width: 18vw;
  height: 40vh;
  min-width: 200px;
  min-height: 300px;
  line-height: 25px;
  text-align: center;
  align-items: center;
}

.info_kort {
  padding: 10px;
  text-align: center;
}

.info_kort img {
  width: 80%; /* Sørg for at passe inden for kortet */
  height: 80%; /* Bevar fast højde */
  max-height: 160px; /* Begræns billedhøjden */
  object-fit: contain;
  margin: auto;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-self: center;
  padding-bottom: 10px;
}

/* GALLERY GRID WEBSITE CSS */
@media (min-width: 800px) {
  .grid-1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    padding-top: 50px;
  }

  .gallery {
    display: flex;
    max-height: 300px;
    width: 100%;
    height: 80vh;
    margin: 0px;
  }

  .info_kort {
    height: 600px;
    align-content: flex-start;
  }
}

@media (min-width: 1000px) {
  .gallery {
    justify-content: center;
  }
}

/* ------ FONTE ------ */
h1 {
  font-family: text-xxl;
  src: url("../fonts/Recoleta-Medium.woff");
  color: var(--large_text);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 115px;
  font-size: 6rem;
}

h2 {
  font-family: text-xl;
  src: url("../fonts/Recoleta-Bold.woff");
  color: var(--large_text);
  font-size: 2rem;
  padding-bottom: 25px;
}

h3 {
  font-family: text-l;
  src: url("../fonts/Recoleta-Regular.woff");
  color: var(--large_text);
  font-weight: bolder;
  padding-top: 10px;
}

p {
  font-family: body;
  src: url("../fonts/Oxygen-Regular.woff");
  color: var(--body);
  font-size: 1rem;
}

/* ------ WAVE THINGY ------ */
.bestyrelse {
  background-color: var(--section_bg);
  position: relative;
  padding-top: 20vh;
  padding-bottom: 15vh;
  max-width: 100vw;
}

@media (min-width: 800px) {
  .bestyrelse {
    padding-top: 10vh;
  }
}
