/*************** v Reset v *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** ^ Reset ^ *********************/

/* GALLERY GRID WEBSITE CSS */
@media (min-width: 800px) {
  .grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 15px;
    margin: 50px;
  }
}

/* ---- forsøg på scroll funtion i mobilsite ---- */
.gallery {
  max-height: 290px;
  border: 1px solid white;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

.gallery::-webkit-scrollbar {
  width: 0;
}

.gallery .info_kort {
  width: 20vw;
  height: 40vh;
  min-width: 200px;
  min-height: 300px;
  line-height: 25px;
  text-align: center;
}

.info_kort {
  padding: 10px;
  text-align: center;
}

.grid-1 {
  text-align: center;
}

/* ------ FONTE ------ */
h1 {
  font-family: text-xxl;
  src: url("../fonts/Recoleta-Medium.woff");
  color: var(--large_text);
}

h2 {
  font-family: text-xl;
  src: url("../fonts/Recoleta-Medium.woff");
  color: var(--large_text);
}

h3 {
  font-family: text-l;
  src: url("../fonts/Recoleta-Regular.woff");
  color: var(--large_text);
  font-weight: bolder;
}

p {
  font-family: body;
  src: url("../fonts/Oxygen-Regular.woff");
  color: var(--body);
  font-size: 1rem;
}
