/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "hero";
  text-align: center;
  padding-bottom: 8%;
  padding-top: 6%;
  margin-left: 10vw;
  margin-right: 10vw;
}

h2 {
  font-family: "text-xxl";
  text-align: center;
  padding-bottom: 3%;
  margin-left: 10vw;
  margin-right: 10vw;
}
P {
  font-family: "body";
  padding-bottom: 10%;
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 150%;
}

.malina_billede img {
  display: grid;
  height: auto;
  width: 60%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 10%;
}

.frivillig_billede {
  height: auto;
  width: 60%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 10%;
}

.amb_billede2 {
  height: auto;
  width: 60%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 10%;
}

.amba {
  font-family: "body";
  padding-bottom: 10%;
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 150%;
  text-align: center;
}

.tak {
  font-family: "body";
  padding-bottom: 10%;
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 150%;
  text-align: center;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.facebook img {
  width: 12%;
  height: auto;
  margin-left: 80%;
  border-radius: var(--img_radius);
}

.instagram img {
  width: 12%;
  height: auto;
}
